@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="row justify-content-center">
    <div class="col-md-7 cyber-panel">
        <h5 class="text-neon mb-4">_PRE_FLIGHT_INSTRUCTIONS</h5>
        <div class="small text-secondary mb-5" style="line-height: 2;">
            > 01: TOTAL QUESTIONS: <span class="text-white">DYNAMIC_BANK_LOAD</span><br>
            > 02: TIME ALLOTMENT: <span class="text-white">10_MINUTES</span><br>
            > 03: PASS THRESHOLD: <span class="text-neon">50%_ACCURACY</span><br>
            > 04: NO_RELOAD: SYSTEM WILL TERMINATE ON REFRESH.
        </div>
        <div class="d-flex justify-content-between">
            <a href="/Test/Dashboard" class="text-secondary text-decoration-none small">_ABORT</a>
            <a href="/Test/TakeTest" class="btn-cyber">START_SEQUENCE</a>
        </div>
    </div>
</div>